<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main" class="container">

  <div class="my-3">

    <% if(model.is_complete){ %>
      <button id="sampleBtn" type="button" class="btn btn-sm btn-primary" onclick="generateSample()">Generate sample
      </button>
    <% } %>

    <% if(!model.has_data){ %>
      <a class="btn btn-sm btn-outline-primary" href="/model/<%= model.id %>/upload">Upload training data</a>
    <% } %>

    <a class="btn btn-sm btn-outline-primary" href="/model/<%= model.id %>/options">Update training options</a>

    <% if(model.is_in_progress){ %>
      <form class="d-inline-block" action="/model/<%= model.id %>/stop" method="post">
        <button type="submit" class="btn btn-sm btn-danger">Stop training</button>
      </form>
    <% } else if (model.has_data) { %>
      <form class="d-inline-block" action="/model/<%= model.id %>/start" method="post">
        <button type="submit" class="btn btn-sm btn-outline-primary">Start training</button>
      </form>
    <% } %>

  </div>

  <div id="sample" class="my-3" style="display: none">
    <p class="font-weight-bold">Generated sample</p>
    <div id="sampleOutput" class="bg-dark text-light p-3 small"></div>
  </div>

  <div class="row mt-3">

    <div class="col-sm-4">
      <h1 class="mb-3">Project:
        <small><%= model.name %></small>
      </h1>

      <dl class="mb-3">
        <dt>Generated ID</dt>
        <dd><%= model.id %></dd>
        <dt>Name</dt>
        <dd><%= model.name %></dd>
        <dt>Created at</dt>
        <dd><%= model.created_at %></dd>
        <dt>Updated at</dt>
        <dd><%= model.updated_at %></dd>
        <dt>Has training data</dt>
        <dd><%= model.has_data %></dd>
        <dt>Training in progress</dt>
        <dd><%= model.is_in_progress %></dd>
        <dt>Contains trained model</dt>
        <dd><%= model.is_complete %></dd>
      </dl>

    </div>
    <div class="col-sm-8">

      <ul class="nav nav-tabs" id="trainingTabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="training-log-tab" data-toggle="tab" href="#trainingLog" role="tab"
             aria-controls="home"
             aria-selected="true">Training log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="training-options-tab" data-toggle="tab" href="#trainingOptions" role="tab"
             aria-controls="profile"
             aria-selected="false">Training options</a>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="trainingLog" role="tabpanel" aria-labelledby="home-tab">
          <pre id="trainingLogOutput" class="bg-dark text-light p-3 mt-3 small"><%= locals.log %></pre>
        </div>
        <div class="tab-pane fade" id="trainingOptions" role="tabpanel" aria-labelledby="profile-tab">
          <pre class="mt-3"><%= JSON.stringify(JSON.parse(model.train_params), null, 2) %></pre>
        </div>
      </div>

    </div>

  </div>

</main>

<%- include('footer'); %>

<script>
  function generateSample() {
    $("#sampleOutput").empty()
    $("#sample").show()
    $("#sampleBtn").prop("disabled", true)

    $.get("/model/<%= model.id %>/sample")
      .done(function (data) {
        $("#sampleOutput").text(data)
      })
      .fail(function (data) {
        $("#sampleOutput").text(JSON.stringify(data) || "Error occurred")
      })
      .always(function () {
        $("#sampleBtn").prop("disabled", false)
      })
  }
</script>

<script>
  function appendWSText(additionalText) {
    var existing = $("#trainingLogOutput").text()
    $("#trainingLogOutput").text(existing + additionalText)
  }

  var conn = {}

  function openConnection(cb) {
    // uses global 'conn' object
    if (conn.readyState === undefined || conn.readyState > 1) {
      conn = new WebSocket('ws://' + window.location.host + '/');
      conn.onopen = function () {
        console.log("Socket open")
        if (typeof cb === "function") {
          cb(conn)
        }
      };
      conn.onmessage = function (event) {
        var message;
        try {
          message = JSON.parse(event.data)
          if (message.model_id === "<%=model.id%>"){ // ids are UUID strings
            appendWSText(message.chunk) // not using position yet
          }
        } catch (e) {
          // not json :/
        }
      };
      conn.onclose = function (event) {
        console.log("Socket closed")
      };
    } else if (typeof cb === "function") {
      cb(conn)
    }
  }

  if (window.WebSocket === undefined) {
    console.log("Sockets not supported")
  } else {
    openConnection();
  }

</script>

</body>
</html>
