<!doctype html>
<html>
<head>
  <%- include('head'); %>
</head>
<body>

<%- include('nav'); %>

<main role="main" class="container">

  <div class="my-3">

    <% if(model.is_complete){ %>
      <button id="sampleBtn" type="button" class="btn btn-sm btn-primary" onclick="generateSample()">Generate sample</button>
    <% } %>

    <% if(!model.has_data){ %>
      <a class="btn btn-sm btn-outline-primary" href="/model/<%= model.id %>/upload">Upload training data</a>
    <% } %>

      <a class="btn btn-sm btn-outline-primary" href="/model/<%= model.id %>/options">Update training options</a>

    <% if(model.is_in_progress){ %>
      <form class="d-inline-block" action="/model/<%=model.id%>/stop" method="post">
        <button type="submit" class="btn btn-sm btn-danger">Stop training</button>
      </form>
    <% } else if (model.has_data) { %>
      <form class="d-inline-block" action="/model/<%=model.id%>/start" method="post">
        <button type="submit" class="btn btn-sm btn-outline-primary">Start training</button>
      </form>
    <% } %>

  </div>

  <div class="row mt-3">

    <div class="col-sm-4">
      <h1 class="mb-3">Project: <small><%= model.name %></small></h1>

      <h2>Model properties</h2>

      <dl class="mb-3">
        <dt>Generated ID</dt>
        <dd><%= model.id %></dd>
        <dt>Name</dt>
        <dd><%= model.name %></dd>
        <dt>Created at</dt>
        <dd><%= model.created_at %></dd>
        <dt>Updated at</dt>
        <dd><%= model.updated_at %></dd>
        <dt>Has training data</dt>
        <dd><%= model.has_data %></dd>
        <dt>Training in progress</dt>
        <dd><%= model.is_in_progress %></dd>
        <dt>Contains trained model</dt>
        <dd><%= model.is_complete %></dd>
      </dl>

      <h2>Training options</h2>
      <pre><%= JSON.stringify(JSON.parse(model.train_params), null, 2) %></pre>
    </div>
    <div class="col-sm-4">
      <h2 class="mb-3">Training log</h2>
      <pre class="bg-dark text-light p-3 small"><%= locals.log %></pre>
    </div>
    <div class="col-sm-4">
      <h2 class="mb-3">Generated sample</h2>
      <div id="sample" class="bg-dark text-light p-3 my-3 small" style="display: none"></div>
    </div>

  </div>

</main>

<script>
  function generateSample() {
    $("#sample").empty()
    $("#sample").show()

    $("#sampleBtn").prop("disabled", true)

    $.get("/model/<%= model.id %>/sample")
      .done(function (data) {
        $("#sample").text(data)
      })
      .fail(function (data) {
        $("#sample").text(JSON.stringify(data) || "Error occurred")
      })
      .always(function () {
        $("#sampleBtn").prop("disabled", false)
      })
  }
</script>

</body>
</html>
